/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 arial, sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% arial, sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Prevent mobile zooming while remain desktop zooming: github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14 */
/* html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } */ 

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.iem7 legend { margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.iem7 input[type="checkbox"] { vertical-align: baseline; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.iem7 img { -ms-interpolation-mode: bicubic; }


/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  background-color: #444;
  color: white;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: white; }
a:hover { color: #ccc; }


/* 
 * Helper classes 
 */
 
/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea.contenteditable {-webkit-appearance: none;}

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }


/* Primary Styles for mobile
   Author: Hayo Bethlehem
*/
#website {
	
	display: block;
	position: relative;
	margin: 0 auto;	

}
article {
	background-color: rgba(255, 255, 255, 0.3);
	margin: 1%;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
h2, p {
	padding: 10px;
}
header {
	height: 49px;
	background: white url("../img/test/header.png") no-repeat top right;
	border-bottom:  1px solid #0055ac;
}
#menuButton {
	font-size:16px;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
	position: absolute;
	right: 30px;
	top: 15px;
	
}
nav {
	font-size: 16px;
	letter-spacing: -1px;
}
nav li {
	border-bottom: 1px solid #999;
}
nav a {
	padding: 3px 1%;
	margin: 3px 0;
	text-decoration: none;
	display: inline-block;
	-moz-transition: background-color 0.1s linear;
	-webkit-transition: background-color 0.1s linear;
}
nav a:hover{
	
}
nav a:active {
	background-color: #ffd200;
	color: #444;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
h1 {
	background-image: url(../img/test/anwblogo.png);
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	width: 141px;
	height: 49px;
	background-repeat: no-repeat;
}
h2 {
	font-weight: normal;
	font-size: 18px;
	letter-spacing: -1px;
}
.sgButton {
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.sgButton:active {
	background-color:#ffd200;
	color: white;
}

footer {
	clear: both;
}


/*
 * Media queries for responsive design https://github.com/shichuan/mobile-html5-boilerplate/wiki/The-Style
 */


/* Styles for desktop and large screen ----------- */


@media only screen and (max-width: 320px) {
	article {
		width: 98%;
	}
	nav {
		width: 100%;
		display: none;
		position: absolute;
		visibility: hidden;
		
	
	}
	#illustration {
		width: 98%;
	}
}
/*@media only screen and (max-width: 640px) {
	article {
		width: 98%;
	}
	nav {
		display: none;
		width: 100%;
	
	}
	#illustration {
		width: 98%;
	}
}*/
@media only screen and (min-width: 640px) {
	article {
		width: 35%;
		min-height: 200px;
		float: left;
	}
	nav {
		float: right;
		width: 26%;
	}
	#illustration {
		width: 73%;
	}
}

/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}



/* MENU */
nav#NavPanel {
	height: 0;
	opacity: 0;
	width: 100%;
	background-color: #0055ac;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 3px 3px 3px black;
	overflow: hidden;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
nav#NavPanel.show {
	height: 284px;
	opacity: 1;
}
nav#NavPanel .bar {
	height: 30px;
	margin-bottom: 5px;
	background: #0055ac;
}

nav#NavPanel .backButton {
	cursor: pointer;
	display: none;
	background-color: #ffd200;
	color: #444;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	padding: 3px 5px;
	margin: 3px 0 0 3px;
}

nav#NavPanel > ul {
	position: relative;
	left: 0;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
nav#NavPanel ul.hide {
	left: -100%;
}
nav#NavPanel ul li ul {
	position: absolute;
	top: 0;
	left: 200%;
	width: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
nav#NavPanel ul li ul.show {
	left: 100%;
} 

nav#NavPanel a {
	width: 98%;
	display: inline-block;
}